/* Resolutions */
@media only screen and (min-width: 320px) {
  .mobile-block {
    display: flex;
  }

  .adaptive-block {
    display: none;
  }

  .width-wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  header {
    .width-wrapper {
      max-width: 100%;
      flex-direction: row-reverse;


    }
  }
}

@media only screen and (min-width: 1366px) {
  .width-wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1920px) {
  .width-wrapper {
    max-width: 1650px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
