/* Colors */
$color_background: #151616;
$color_gold: #B6A172;
$color_grey: #6E6E6E;
$color_white: #F4F4F4;

/* Resolutions */
@media only screen and (min-width:320px) and (max-width:1365px) {
  .mobile-block {
    display: flex!important;
  }

  .adaptive-block {
    display: none!important;
  }

  body {

  }

  .width-wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  header {
    .width-wrapper {
      max-width: 100%;
      flex-direction: row-reverse;

      .subblock-1-wrapper {
        flex-direction: row-reverse;

        .search {
          margin: 0px 0px 0px 85px;
        }
      }

      #top-logo-block {
        margin: 0px 0px 0px 0px;
      }
    }

    #main-menu-dialog {
      width: 100%;

      .width-wrapper {
        max-width: 100%;

        .blocks-wrapper {
          .block {
            &.block-1 {
              width: 100%;

              .site-navigation-block {
                .menu-item-list {
                  .menu-item {
                    .level-1 {
                      > .item-text {
                        font-size: 20px;
                      }
                    }

                    .menu-subitem-list {
                      .level-2 {
                        .subitem-text {
                          font-size: 17px;
                        }
                      }
                    }
                  }
                }
              }
            }

            &.block-2 {
              display: none;
            }
          }
        }
      }
    }
  }

  footer {
    padding: 20px 20px;

    .width-wrapper {
      max-width: 100%;

      .information-block-list {
        flex-wrap: wrap;
        width: 100%;

        .information-block-list-item {
          margin: 0px 0px 0px 0px;

          &.information-block-list-item-1 {
            width: 50%;
          }

          &.information-block-list-item-2 {
            width: 50%;
          }

          &.information-block-list-item-3 {
            width: 100%;
            margin: 30px 0px 0px 0px;
          }

          &.information-block-list-item-4 {

          }

          &.information-block-list-item-5 {
            width: 100%;
            margin: 30px 0px 0px 0px;

            .subpart-1 {
              display: flex;
              flex-direction: row;
              align-items: stretch;
              justify-content: stretch;
              width: 100%;

              .social-block {
                width: 50%;
                flex-direction: column;

                .item-subheading {
                  color: $color_white;
                  font-size: 15px;
                  font-weight: 600;
                  line-height: 140%;
                  margin: 0px 0px 12px 0px;
                }

                .item-submenu {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: flex-start;

                  .submenu-item {
                    margin: 0px 12px 0px 0px;

                    &:last-child {
                      margin: 0px 0px 0px 0px;
                    }
                  }
                }
              }

              .footer-logo-wrapper {
                width: 50%;
                justify-content: flex-end;
              }
            }
          }
        }
      }
    }
  }

  #bottom-copyright {
    .width-wrapper {
      margin: 0px 0px;
      padding: 20px 20px;
      box-sizing: border-box;

      .copyright-text {
        font-size: 13px;
        font-weight: 400;
        line-height: 140%;
      }
    }
  }

  #content {
    padding: 0px 0px 100px 0px;

    &.main-page-content {
      #main-page-section-1 {
        min-height: auto;
      }

      #main-top-carousel {
        height: 400px;

        .carousel-item-list {
          .carousel-item {
            .item-title {
              font-size: 36px;
              font-weight: 400;
              line-height: 110%;
              letter-spacing: 1.8px;
            }

            .view-the-project-button {
              font-size: 15px;
              font-weight: 600;
              line-height: 120%;
              letter-spacing: 1.05px;
            }
          }
        }

        .carousel-pagination-arrows {
          display: none;
        }

        .carousel-pagination-bullets {
          &.on-show-state-1 {
            transform: translate(-50%, 0);
            right: auto;
            left: 50%;
          }
        }
      }

      #main-page-section-2 {
        padding: 80px 0px 80px;

        .width-wrapper {
          flex-direction: column-reverse;

          .bg-secondary-image-1 {
            display: none;
          }
        }
      }

      #main-page-section-2-carousel-1 {
        .carousel-item-list {
          min-height: 398px;

          .carousel-item {
            flex-direction: column-reverse;
            min-height: 545px;

            .block-1 {
              height: 248px;
              min-height: 248px;
              padding: 16px 20px 76px;

              .carousel-item-list-heading {
                font-size: 28px;
                font-weight: 400;
                line-height: 110%;
              }

              .carousel-item-text {
                font-size: 15px;
                font-weight: 400;
                line-height: 140%;
              }
            }

            .block-2 {
              height: 200px;
              min-height: 200px;

              .button-view-project {
                display: none;
              }
            }
          }
        }

        .carousel-pagination-arrows {
          left: 20px;
          bottom: 20px;

          .carousel-arrow {
            svg {
              height: 40px;
            }

            .arrow-page-number {
              display: none;
            }
          }

          .arrows-separator {
            display: none;
          }
        }
      }

      #main-page-section-3 {
        box-sizing: border-box;
        padding: 0px 0px 20px;
        padding-bottom: 70px;

        &.on-show {

        }

        .width-wrapper {
          .blocks-wrapper {
            flex-direction: column;
            align-items: stretch;

            .block {
              &.block-1 {
                width: auto;
                margin-right: 0px;
                padding: 0px 20px 20px;

                .block-heading {
                  font-size: 28px;
                  font-weight: 400;
                  line-height: 110%;
                  width: auto;
                }

                .block-text {
                  font-size: 15px;
                  font-weight: 400;
                  line-height: 140%;
                  width: auto;
                }

                .more-about-us-link {
                  font-size: 15px;
                  font-weight: 600;
                  line-height: 120%;
                  letter-spacing: 1.05px;
                  margin-top: 12px;
                }
              }
            }
          }
        }
      }

      #main-page-section-4 {
        box-sizing: border-box;
        padding: 80px 0px 20px;
        min-height: 580px;

        &.on-show {

        }

        .width-wrapper {
          .section-area {
            &.section-top-area {
              .section-heading {
                padding: 0px 20px;
                font-size: 28px;
                font-weight: 400;
              }
            }

            &.section-middle-area {
              height: 260px;
              flex: 1;

              .gallery-image-list-container {
                margin: 20px 0px 0px 0px;

                .gallery-list-item {
                  &.item-1 {
                    width: 100%;
                    height: 200px;
                    top: 0px;
                  }
                  &.item-2 {
                    width: 100%;
                    height: 200px;
                    top: 0px;
                  }
                  &.item-3 {
                    width: 100%;
                    height: 200px;
                    top: 0px;
                  }
                }
              }
            }

            &.section-bottom-area {
              padding: 70px 20px 0px;
              padding-left: 20px;
              margin: 200px 0px 0px 0px;

              .area-text-1 {
                font-size: 13px;
                font-weight: 600;
                line-height: 120%;
                letter-spacing: 0.91px;
              }

              .area-text-2 {
                font-size: 17px;
                font-weight: 600;
                line-height: 120%;
              }
            }
          }
        }
      }

      #main-page-section-5 {
        height: auto;
        box-sizing: border-box;

        &.on-show {

        }

        .width-wrapper {
          max-width: 100%;
          padding: 50px 0px 70px 0px;

          .bg-image-1 {
            display: none;
          }

          .outer-carousel-wrapper {
            height: auto;
            width: 100%;
            position: relative;

            #main-page-section-5-carousel-1 {
              width: 100%;
              min-height: 434px;

              .carousel-item-list {
                .carousel-item {
                  min-height: 434px;
                  flex-direction: column;

                  .block {
                    &.block-1 {
                      width: 100%;
                      height: 200px;
                      min-height: 200px;

                      .view-project-button {
                        display: none;
                      }
                    }
                    &.block-2 {
                      width: auto;
                      height: 234px;
                      min-height: 234px;
                      padding: 16px 20px 86px;

                      .item-title {
                        font-size: 28px;
                        font-weight: 400;
                        line-height: 110%;
                      }

                      .item-text-1 {
                        font-size: 13px;
                        font-weight: 600;
                        line-height: 120%;
                        letter-spacing: 0.91px;
                        margin: 20px 0px 0px 0px;
                      }

                      .item-text-2 {
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 140%;
                        margin: 12px 0px 0px 0px;
                      }
                    }
                  }
                }
              }

              .carousel-pagination-arrows {
                right: auto;
                left: 20px;
                bottom: 20px;

                .carousel-arrow {
                  .arrow-page-number {
                    display: none;
                  }
                }

                .arrows-separator {
                  opacity: 0;
                }
              }
            }
          }
        }
      }

      #main-page-section-6 {
        box-sizing: border-box;

        &.on-show {

        }

        .width-wrapper {
          max-width: 100%;

          .section-area {
            &.section-area-1 {
              padding: 0px 20px 70px;

              .information-block {
                width: auto;
                margin: 0px 0px 0px 0px;

                .block-text-1 {
                  font-size: 13px;
                  font-weight: 600;
                  line-height: 120%;
                  letter-spacing: 0.91px;
                  margin: 0px 0px;
                }

                .block-text-2 {
                  font-size: 17px;
                  font-weight: 600;
                  line-height: 120%;
                  margin-top: 16px;
                }
              }
            }

            &.section-area-2 {
              height: auto;

              .bg-image-1 {
                display: none;
              }

              .outer-carousel-wrapper {
                #main-page-section-6-carousel-1 {
                  .carousel-item-list {
                    width: 100%;

                    .carousel-item {
                      width: 100%;
                      height: auto;
                      flex-direction: column;
                      display: none;

                      &.active {
                        display: flex;
                      }

                      .block {
                        &.block-1 {
                          width: 100%;

                          .image-wrapper {
                            height: 200px;
                          }

                          .view-project-button {
                            display: none;
                          }
                        }

                        &.block-2 {
                          padding: 16px 20px 86px;

                          .item-title {
                            font-size: 28px;
                            font-weight: 400;
                            line-height: 110%;
                          }

                          .item-text-1 {
                            font-size: 13px;
                            font-weight: 600;
                            line-height: 120%;
                            letter-spacing: 0.91px;
                            margin: 20px 0px 0px 0px;
                          }

                          .item-text-2 {
                            font-size: 15px;
                            font-weight: 400;
                            line-height: 140%;
                            margin: 12px 0px 0px 0px;
                          }
                        }
                      }
                    }
                  }

                  .carousel-pagination-arrows {
                    right: auto;
                    left: 20px;
                    bottom: 20px;

                    .carousel-arrow {
                      .arrow-page-number {
                        display: none;
                      }
                    }

                    .arrows-separator {
                      opacity: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }

      #main-page-section-8 {
        box-sizing: border-box;
        padding: 80px 0px 0px 0px;

        &.on-show {

        }

        .width-wrapper {
          max-width: 100%;

          .blocks-wrapper {
            flex-direction: column;
            height: auto;

            .block {
              height: auto;
              &.block-1 {
                width: 100%;
                padding: 0px 20px 0px;

                .section-heading {
                  font-size: 28px;
                  font-weight: 400;
                  line-height: 110%;
                }

                .qr-code-container {
                  display: none;
                }
              }

              &.block-2 {
                height: auto;
                padding: 0px 20px 0px;

                #main-page-section-8-carousel-1 {
                  width: auto;

                  .carousel-item-list-outer-wrapper {
                    width: auto;
                    min-height: 200px;

                    .carousel-item-list {
                      .item-list-inner-wrapper {
                        .carousel-item {
                          width: 130px;
                          height: 200px;
                          min-height: 200px;

                          img {
                            display: block;
                            width: 100%;
                            height: 100%;
                          }
                        }
                      }
                    }
                  }

                  .carousel-pagination-arrows {
                    display: none;
                  }
                }

                .subscribe-to-instagram-link {
                  display: inline-block!important;
                  color: $color_gold;
                  font-family: Open Sans;
                  font-size: 15px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: 120%;
                  letter-spacing: 1.05px;
                  text-transform: uppercase;
                  margin: 20px 0px 0px 0px;
                  padding-bottom: 10px;
                  border-bottom: 1px solid $color_gold;
                }
              }
            }
          }
        }
      }

      #main-page-section-9 {
        padding: 86px 20px 0px;
        box-sizing: border-box;

        &.on-show {

        }

        .width-wrapper {
          #main-page-section-9-carousel-1 {
            min-height: auto;

            .carousel-item-list {
              min-height: auto;

              .carousel-item {
                position: relative;
                flex-direction: column;

                .item-area-1 {
                  flex-direction: column;
                  align-items: flex-start;
                  justify-content: flex-start;
                  padding: 16px 20px 20px;

                  .item-title {
                    font-size: 17px;
                    font-weight: 400;
                    line-height: 110%;
                  }

                  .item-social-block {
                    margin: 12px 0px 0px 0px;

                    .item-social-block-heading {
                      display: none;
                    }

                    .item-social-list {
                      .item-social-list-item {
                        &:first-child {
                          margin: 0px 0px 0px 0px;
                        }
                      }
                    }
                  }
                }

                .item-area-2 {
                  padding: 16px 20px 76px;

                  .item-info-wrapper {
                    flex-direction: column;
                    align-items: flex-start;

                    .info-text-1, .info-text-2 {
                      width: auto;
                    }

                    .info-text-2 {
                      margin: 16px 0px 0px 0px;
                    }
                  }
                }

                .item-photo-container {
                  display: flex;
                  width: 100px;
                  height: 130px;
                  right: 0px;
                  bottom: calc(100% - 110px);

                  .item-photo {
                    display: block;
                    max-width: 100%;
                    max-height: 100%;
                  }
                }
              }
            }

            .outer-pagination-wrapper {
              left: 20px;
              right: auto;
              bottom: 20px;

              .carousel-pagination-arrows {
                .carousel-arrow {
                  .arrow-page-number {
                    display: none;
                  }
                }

                .arrows-separator {
                  opacity: 0;
                }
              }
            }
          }
        }
      }

      #main-page-section-10 {
        padding: 80px 0px 0px;
        box-sizing: border-box;

        &.on-show {

        }

        .width-wrapper {
          max-width: 100%;

          .blocks-wrapper {
            height: auto;
            flex-direction: column;

            .block {
              width: auto;

              &.block-1 {
                padding:0px 20px;

                .section-heading {
                  font-size: 28px;
                  font-weight: 400;
                  line-height: 110%;
                }
              }

              &.block-2 {
                margin: 20px 0px 0px 0px;

                #main-page-section-10-carousel-1 {
                  .carousel-item-list {
                    .carousel-item {
                      position: relative;
                      top: 0px!important;
                      left: 0px!important;

                      .item-image-wrapper {
                        width: 100%;
                        height: 200px;
                      }

                      .item-information-container {
                        padding: 0px 20px 56px;

                        .item-title-wrapper {
                          flex-direction: column;
                          align-items: flex-start;
                        }

                        .item-read-more-button {
                          font-size: 15px;
                          font-weight: 600;
                          line-height: 120%;
                          letter-spacing: 1.05px;
                          margin: 16px 0px 0px 0px;
                        }
                      }

                      &.carousel-item-state-1 {
                        display: none;
                      }

                      &.carousel-item-state-2 {
                        display: flex;
                      }

                      &.carousel-item-state-3 {
                        display: none;
                      }

                      &.carousel-item-state-4 {
                        display: none;
                      }
                    }
                  }

                  .carousel-pagination-arrows {
                    top: auto;
                    left: 20px;
                    bottom: 0px;

                    .carousel-arrow {
                      .arrow-page-number {
                        display: none;
                      }
                    }

                    .arrows-separator {
                      opacity: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }

      #main-page-section-11 {
        padding: 80px 0px 0px 0px;
        box-sizing: border-box;

        &.on-show {

        }

        .width-wrapper {
          max-width: 100%;

          .request-a-call-block {
            .block-heading {
              font-size: 15px;
              font-weight: 600;
              line-height: 120%;
              letter-spacing: 1.05px;
              text-align: center;
            }

            .telephone-number {
              text-align: center;
              font-size: 28px;
              font-weight: 400;
              line-height: 110%;
            }

            .send-call-request-button {

            }
          }
        }
      }
    }

  }

  .carousel-type-3 {
    .carousel-item-list {
      height: 200px;

      .carousel-item {
        height: 200px;

        &.carousel-item-state-1, &.carousel-item-state-2, &.carousel-item-state-3 {
          width: 100%;
          height: 200px;
          top: 0px;
          left: 0px;
        }

        .view-project-button {
          display: none;
        }
      }
    }

    .carousel-pagination-arrows {
      bottom: -67px;
      left: 20px;
      right: auto;

      .carousel-arrow {
        .arrow-page-number {
          display: none;
        }
      }

      .arrows-separator {
        opacity: 0;
      }
    }
  }
}

@media only screen and (min-width:1366px) and (max-width:1919px) {
  .mobile-block {
    display: none!important;
  }

  .adaptive-block {
    display: flex!important;
  }

  .width-wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1920px) {
  .mobile-block {
    display: none!important;
  }

  .adaptive-block {
    display: flex!important;
  }

  .width-wrapper {
    max-width: 1650px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
